ADMIN_PASSWORD=0000
PORT=10000
SPOTIFY_CLIENT_ID=DEINE_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=DEIN_SPOTIFY_CLIENT_SECRET
SPOTIFY_REDIRECT_URI=https://DEINE-RENDER-URL.onrender.com/auth/spotify/callback
